REQUIRE_EMAIL_VERIFICATION=false
CORS_ORIGINS=https://cell-tau.vercel.app,https://hitechcinisello.it,http://localhost:5173,http://localhost:3000,http://localhost:5001
FRONTEND_URL=https://cell-tau.vercel.app,https://hitechcinisello.it,http://localhost:5173,http://localhost:3000,http://localhost:5001
MONGODB_URI=your_mongodb_uri_here
ADMIN_EMAILS=admin@test.com
PORT=5001
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=yourgmail@gmail.com
SMTP_PASS=your_app_password_here
